name: "Checks"

on:
  schedule:
    - cron: '0 10 * * *'
  pull_request:
  push:
    branches:
      - "main"

jobs:
  full-checks:
    name: "Full CI checks for all PHP versions"

    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        dependencies:
          - "highest"
          - "locked"
          - "lowest"
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"

      - name: "Install composer dependencies"
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "Full CI"
        run: "composer ci"